ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  background-color: #2c112d;
}


ul.topnav li {float: left;}


ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
body
{
background-color: powderblue;
}
h1
{text-align: center;color: brown;}
ul.topnav li a:hover:not(.active) {background-color: #111;}


ul.topnav li a.active {background-color: #14dc8c;}


ul.topnav li.right {float: right;}

@media screen and (max-width: 600px)
{
ul.topnav li.right,
    ul.topnav li {float: none;}

    img{
max-width: 50%;
        height: auto;

}
}

footer {
padding: 1em;
    color: white;
    background-color: #333;
    clear: left;
    text-align: center;
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
}


img {

    margin-left: 40%;
    margin-top: 2%;
}

#resume{
    background-color: #442e2e; border: none;

color: white;
   padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 43%;
    margin-top: 4%;
}

.button{

    background-color: #b5ba60;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 40%;
    margin-top: 20%;
}

#aboutme{
text-align: center;

}


#skills{
text-align: center;

}

#contactme{
text-align: center;

}